/Desarrollador/app/teacherCloudClienteWeb/nbproject/private/
/Desarrollador/app/teacherCloudClienteWeb/build/
/Desarrollador/app/teacherCloudClienteWeb/dist/
/Desarrollador/app/ejemplos/Practica3RestClienteWeb/dist/