<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerReceta</servlet-name>
        <servlet-class>servlet.LeerReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerRecetario</servlet-name>
        <servlet-class>servlet.LeerRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarReceta</servlet-name>
        <servlet-class>servlet.BorrarReceta</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>BorrarRecetario</servlet-name>
        <servlet-class>servlet.BorrarRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarXSD</servlet-name>
        <servlet-class>servlet.ValidarXSD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearRecetario</servlet-name>
        <servlet-class>servlet.CrearRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearReceta</servlet-name>
        <servlet-class>servlet.CrearReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importarReceta</servlet-name>
        <servlet-class>servlet.importarReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importarRecetario</servlet-name>
        <servlet-class>servlet.importarRecetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>annadirReceta</servlet-name>
        <servlet-class>servlet.annadirReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportReceta</servlet-name>
        <servlet-class>servlet.exportReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exportRecetario</servlet-name>
        <servlet-class>servlet.exportRecetario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerReceta</servlet-name>
        <url-pattern>/LeerReceta</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>LeerRecetario</servlet-name>
        <url-pattern>/LeerRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarReceta</servlet-name>
        <url-pattern>/BorrarReceta</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>BorrarRecetario</servlet-name>
        <url-pattern>/BorrarRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarXSD</servlet-name>
        <url-pattern>/ValidarXSD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearRecetario</servlet-name>
        <url-pattern>/CrearRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearReceta</servlet-name>
        <url-pattern>/CrearReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importarReceta</servlet-name>
        <url-pattern>/importarReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importarRecetario</servlet-name>
        <url-pattern>/importarRecetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>annadirReceta</servlet-name>
        <url-pattern>/annadirReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportReceta</servlet-name>
        <url-pattern>/exportReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exportRecetario</servlet-name>
        <url-pattern>/exportRecetario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    </web-app>
