*{
    font-family: sans-serif;
}

body {
    background-color: cadetblue;
}

.login-div{
    margin: 100px auto;
    width: 350px;
    background-color: aliceblue;
    padding: 60px;
}

.title {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 35px;
}

.form{
    width: 100%;
    margin-top: 30px ;
}

.form input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.email, .password, .password2, .modo, .nombre {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 2);
    padding: 15px;
    margin: 10px 0;

}

button {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    background-color: cadetblue;
    color: white;
    margin-bottom: 5px;
}

.registrar input{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    background-color: cadetblue;
    color: white;
    margin-bottom: 5px;
 }