<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>servlet.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incidencia</servlet-name>
        <servlet-class>servlet.Incidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClase</servlet-name>
        <servlet-class>servlet.BuscarClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarClases</servlet-name>
        <servlet-class>servlet.MostrarClases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfertarClase</servlet-name>
        <servlet-class>servlet.OfertarClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCalificaciones</servlet-name>
        <servlet-class>servlet.MostrarCalificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrarPeticiones</servlet-name>
        <servlet-class>servlet.AdministrarPeticiones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscribirse</servlet-name>
        <servlet-class>servlet.Inscribirse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incidencia</servlet-name>
        <url-pattern>/Incidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClase</servlet-name>
        <url-pattern>/BuscarClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarClases</servlet-name>
        <url-pattern>/MostrarClases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfertarClase</servlet-name>
        <url-pattern>/OfertarClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCalificaciones</servlet-name>
        <url-pattern>/MostrarCalificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrarPeticiones</servlet-name>
        <url-pattern>/AdministrarPeticiones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscribirse</servlet-name>
        <url-pattern>/Inscribirse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
